@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'),
    url('./assets/fonts/DMSans-Bold.woff2') format('woff2'),
    url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: local('DM Sans'),
    url('./assets/fonts/DMSans-Regular.woff2') format('woff2'),
    url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    min-width: 350px;
    font-family: 'DM Sans';
    font-weight: normal;
    font-style: normal;
    background-color: #191919;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Стили хидера */

.header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 44px 0;
}

.nav-items {
    display: flex;
    gap: 40px;
}

.link-item {
    font-weight: 400;
    font-size: 17px;
    line-height: 1.58824;
    color: #fff;
}

/* Стили первой секции */
.main-wrapper {
    display: flex;
    gap: 60px;
}

.main-img {
    max-width: 650px;
    width: 100%;
    border-radius: 12px;
}

.main-text {
    margin-top: 314px;
    margin-bottom: 90px;
    font-weight: 400;
    font-size: 70px;
    line-height: 1.25714;
    letter-spacing: 0.05em;
    color: #fff;
}

.bold-word {
    font-weight: 700;
    font-size: 80px;
    line-height: 1.1;
    letter-spacing: 0.04em;
    color: #fff;
}

.text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 15px;
    line-height: 1.6;
    color: #fff;
}

.listen-block {
    display: flex;
    flex-direction: column;
    padding:0 22px;
}

.listen-services {
    display: flex;
    align-items: center;
    gap: 17px;
}